.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  word-wrap: normal;
  border: 0;
}

.pulseOpacity {
  animation: var(--anim-value) 1.2s ease-out infinite;
}

.anim1 { --anim-value: pulse1; }
.anim2 { --anim-value: pulse2; }
.anim3 { --anim-value: pulse3; }
.anim4 { --anim-value: pulse4; }

@keyframes pulse1 {
  0%   { opacity: 0.9; }
  25%  { opacity: 0.7; }
  50%  { opacity: 0.5; }
  75%  { opacity: 0.7; }
  100% { opacity: 0.9; }
}
@keyframes pulse2 {
  0%   { opacity: 0.7; }
  25%  { opacity: 0.5; }
  50%  { opacity: 0.7; }
  75%  { opacity: 0.9; }
  100% { opacity: 0.7; }
}
@keyframes pulse3 {
  0%   { opacity: 0.5; }
  25%  { opacity: 0.7; }
  50%  { opacity: 0.9; }
  75%  { opacity: 0.7; }
  100% { opacity: 0.9; }
}
@keyframes pulse4 {
  0%   { opacity: 0.7; }
  25%  { opacity: 0.9; }
  50%  { opacity: 0.7; }
  75%  { opacity: 0.5; }
  100% { opacity: 0.7; }
}

.svg-tip-one-line {
  white-space: nowrap;
}

.svg-tip {
  position: absolute;
  z-index: 99999;
  padding: 8px 16px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background: #6e7681;
  border-radius: 6px;
}

.svg-tip::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 5px;
  height: 5px;
  box-sizing: border-box;
  margin: 0 0 0 -4px;
  content: " ";
  border: 5px solid transparent;
  border-top-color: #6e7681;
}

.svg-tip.left::after {
  left: 11px;
}

.svg-tip.right::after {
  left: calc(100% - 15px);
}