@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap");

body {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #fafafa;
}
.body-wrapper {
  padding: 0 1rem 0 1rem;
}
#header {
  text-align: center;
  font-weight: bolder;
  margin: 1.2rem 0 1.2rem 0;
  font-family: "Kaisei Tokumin", serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
}
#intro {
  margin: 0 0 1rem 0;
}

/* Heatmap grid */
.heatmap-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-bottom: 1rem;
  column-gap: 10px;
  row-gap: 40px;
}
@media (max-width: 860px) {
  .heatmap-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 680px) {
  .heatmap-wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* Individual heat maps */
.heatmap {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 8px;
  align-items: start;
  position: relative;
}
.heatmap::before {
  font-family: "Kaisei Tokumin", serif;
  font-size: 20px;
  content: attr(data-month); /* Set the content to the data-month attribute */
  position: absolute;
  top: -38px; /* Position the pseudo-element above the grid item */
  left: 0;
  width: 100%;
  text-align: center;
  margin: 4px;
}
/* Heat map boxes */
.dayBox {
  display: block;
  width: 18px;
  height: 18px;
}
.grayBox {
  color: rgb(236, 236, 236, 1);
}
.greenBox {
  color: #4ade80;
  transition: color 1s ease;
}
.greenBox-1 {
  color: #349b5a;
}
.greenBox-2 {
  color: #1e5933;
}
.greenBox-3 {
  color: #07160d;
}
.fill-current {
  fill: currentColor;
}
.dayBoxContainer {
  position: relative;
  width: 18px;
  height: 18px;
}
.pulsate {
  animation: pulsate 1.2s ease-out infinite;
}
@keyframes pulsate {
  0% {
    color: rgb(236, 236, 236, 1);
  }
  50% {
    color: rgb(236, 236, 236, 0.12);
  }
  100% {
    color: rgb(236, 236, 236, 1);
  }
}
.popup-content {
  font-size: 0.75rem;
  line-height: 1rem;
  position: absolute;
  top: -220%;
  z-index: 1;
  white-space: nowrap;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
}
.popup-exists {
  border: 1px solid #ccc;
  padding: 4px 8px 4px 8px;
}
.popup-open-right {
  left: -100%;
}
.popup-open-left {
  right: -100%;
}

/* Form */
.form-wrapper {
  display: flex;
  justify-content: center;
}
#form {
  border: solid 1px gray;
  border-radius: 8px;
  padding: 20px;
  display: inline-block;
  margin-bottom: 1rem;
  --un-shadow: var(--un-shadow-inset) 0 4px 6px -1px var(--un-shadow-color, rgba(0, 0, 0, 0.1)), var(--un-shadow-inset) 0 2px 4px -2px var(--un-shadow-color, rgba(0, 0, 0, 0.1));
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}
.form-inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}
.submit-button {
  color: white;
  font-weight: bold;
  background-color: rgba(51, 66, 38, 0.8);
  border: none;
  border-radius: 6px;
  padding: 16px 22px 16px 22px;
  cursor: pointer;
  align-self: flex-end;
}
.submit-button:hover {
  background-color: rgba(11, 15, 8, 0.8);
}

.chess-link {
  color: rgba(51, 66, 38, 0.8);
}
.chess-link:hover {
  color: rgba(11, 15, 8, 0.8);
}

.form-label {
  display: block;
  padding-bottom: 2px;
}
.form-input {
  padding: 10px;
}

/* Colors */
#colors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 3rem;
}
#greenBox-example {
  color: #4ade80;
}
