@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap");

body {
  font-family: system-ui, -apple-system, sans-serif;
}
.body-wrapper {
  padding: 0 2em 0 2em;
}
#header {
  margin: 4px;
  font-family: "Kaisei Tokumin", serif;
}
#intro {
  margin: 4px;
}

/* Heatmap grid */
.heatmap-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 80px;
  margin-bottom: 80px;
  column-gap: 10px;
  row-gap: 32px;
}
@media (max-width: 860px) {
  .heatmap-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 680px) {
  .heatmap-wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* Individual heat maps */
.heatmap {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 1px;
}
.heatmap::before {
  font-family: "Kaisei Tokumin", serif;
  font-size: 20px;
  content: attr(data-month); /* Set the content to the data-month attribute */
  position: absolute;
  top: -36px; /* Position the pseudo-element above the grid item */
  left: 0;
  width: 100%;
  text-align: center;
  margin: 4px;
}
/* Heat map boxes */
.dayBox {
  width: 18px;
  height: 18px;
}
.grayBox {
  color: rgb(236, 236, 236, 1);
}
.greenBox {
  color: rgba(74, 222, 128, 1);
}
.fill-current {
  fill: currentColor;
}
.dayBoxContainer {
  position: relative;
}
.pulsate {
  animation: pulsate 1.2s ease-out infinite;
}
@keyframes pulsate {
  0% {
    color: rgb(236, 236, 236, 1);
  }
  50% {
    color: rgb(236, 236, 236, 0.12);
  }
  100% {
    color: rgb(236, 236, 236, 1);
  }
}
.popup-content {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 1;
  background-color: #f9f9f9;
  border-radius: 8px;
}
.popup-exists {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Form */
#form {
  width: 100%;
  border: solid 1px gray;
  padding: 40px;
}
.form-inner-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}
.submit-button {
  color: white;
  font-weight: bold;
  background-color: rgba(51, 66, 38, 0.8);
  border: none;
  border-radius: 4px;
  padding: 8px 10px 8px 10px;
  cursor: pointer;
}
.submit-button:hover {
  background-color: rgba(11, 15, 8, 0.8);
}

.chess-link {
  color: rgba(51, 66, 38, 0.8);
}
.chess-link:hover {
  color: rgba(11, 15, 8, 0.8);
}

.form-label {
  display: block;
}
.form-input {
  padding: 10px;
}
